@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Haroon's Razor Pages</h1>
    <a class="btn btn-outline-primary" href="Movies">Movies Web App</a>
</div>
